/* padding or margin: TOP, RIGHT, BOTTOM, LEFT */

.contain{
    margin: 0% 10% 0% 10%;
    border: 3px solid black;
}

#intro{
    background-color: lightgray ;
    padding : 0% 5% 0% 5%;
    width: 40%;    
    margin-bottom: 5%;
}

.heading{
    background-color: lightgray ;
    padding : 1% 5% 1% 30%;
    text-align: left;
}


/* ALL maps & charts, unique IDs */

#map_weather_div{
    text-align: center;
    padding : 5 ;
    padding-bottom: 2%;
}

#map_all_div {
    margin: auto;
    text-align: center;
    padding : 5 ;    
}

#smalls_all_div{
    text-align : center;
    padding-top: 1%;
}

#smalls_major_div{
    text-align: center;
    padding-top: 1%;
}

#map_major_div {
    margin: auto;
    text-align: center;
    padding : 5 ;    
}


h1{
    background-color: lightblue;
    text-align: center;
    padding : 1% 0% 1% 0%;
}

h3{
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;

  font-size : 24px
}

.tilt-prism {
  font-family: "Tilt Prism", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
  font-size: 72px;
}

/* UNUSED OTHER Google Fonts classes    HEADINGS */

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* UNUSED OTHER Google Fonts classes    TITLE */

.alumni-sans-collegiate-one-regular{
  font-family: "Alumni Sans Collegiate One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

.rampart-one-regular{
  font-family: "Rampart One", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 60px;
}

.orbitron{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}