#intro {
    background-color: lightgray ;
    padding : 0px 5% 0px 5%
}

#map_weather_div{
    text-align: center;
    padding-bottom : 2%;
}

#map_all_div {
    margin: auto;
    text-align: center;
    padding : 5 ;    
}

#map_major_div {
    margin: auto;
    text-align: center;
    padding : 5 ;    
}